<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBapplication.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-JN9EFCA\SQLEXPRESS;Initial Catalog=CompanyDB_Lab6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>